* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f4ed;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

ul {
    list-style: none;
}

.header {
    background-color: #a8a48c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 40px;
}

.header .logo {
    font-size: 34px;
    font-weight: bold;
    color: #fff;
}

.header .logo span {
    color: #e0decc;
}

.header nav ul {
    display: flex;
}

.header nav ul li {
    margin-right: 20px;
}

.header nav ul li a {
    color: #fff;
    font-weight: bold;
}

.navbar {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

h1 {
    font-size: 38px;
    margin: 0px;
    color: #fff;
    padding-right: 30px;
    font-family: 'Baloo', sans-serif;
}

h2 {
    margin-left: 0;
    font-size: 18px;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

h3 {
    font-family: 'Arial', sans-serif;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.user-icon {
    margin-left: auto;
}

.user-icon img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
    background-color: #EBEADE;
    min-height: calc(100vh - 100px);
    padding-bottom: 40px;
}

.hero-left {
    max-width: 40%;
    padding-right: 30px;
    margin-left: 20px;
}

.hero-right img {
    width: 690px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.hero-left h1 {
    font-size: 48px;
    color: #333;
    line-height: 1.2;
    margin-bottom: 10px;
}

.hero-left p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.cta-button {
    padding: 25px 100px;
    margin-top: 50px;
    background-color: #538558;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #bebbae;
}

.hero-right img {
    width: 740px;
    height: 680px;
    border-radius: 30px;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.1);
}

footer { 
    text-align: center;
    padding: 10px;
    background-color: #a8a48c;
    color: #fff;
    font-size: 14px;
}